@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: red;
}

/* heading and logo */

header {
    overflow: hidden;
}

h1, h2 {
    font-family: Raleway, sans-serif;
}

#logo {
    float: left;
    margin-left: 15px;
    font-size: 300%;
    letter-spacing: 3px;
}

/* nav-bar links */

#nav-bar {
    font-size: 130%;
    letter-spacing: 3px;
}

#nav-bar, #logo {
    line-height: 80px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}